<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport"
      content="width=device-width, initial-scale=1.0">

    <title>Singapore Salon | Loyalty Rewards</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <header class="navbar">

        <div class="logo">
            HS SINGAPORE
            <span>SALON</span>
        </div>

        <nav>
            <a href="#">Home</a>
            <a href="#">My Loyalty Card</a>
            <a href="{{ url_for('login') }}" class="login-btn"> Staff Login</a>
        </nav>

    </header>


    <main class="hero">

        <div class="hero-content">

            <p class="small-title">
                STYLE • BEAUTY • CONFIDENCE
            </p>

            <h1>Singapore Salon</h1>

            <h2>Exclusive Loyalty Rewards</h2>

            <p class="description">
                Every visit brings you closer to something special.
                Enjoy exclusive rewards created for our valued
                ladies and gents.
            </p>


            <div class="rewards">

                <div class="reward-card">
                    <div class="reward-number">5</div>
                    <h3>5th Visit</h3>
                    <p>Enjoy 25% off your service.</p>
                </div>

                <div class="reward-card">
                    <div class="reward-number">10</div>
                    <h3>10th Visit</h3>
                    <p>Receive a complimentary facial.</p>
                </div>

            </div>


            <a href="#" class="primary-btn">
                View My Loyalty Card
            </a>

        </div>

    </main>

</body>
</html>